<h1><a class="btn btn-default" href="#" role="button">All Contacts</a></h1>

<table class="table table-hover" data-sort-name="last_name" data-sort-order="desc">
  <thead>
    <tr>
      <th data-field="first_name" data-sortable="true">First Name</th>
      <th data-field="last_name" data-sortable="true">Last Name</th>
      <th data-field="email" data-sortable="true">Email</th>
      <th data-field="phone_number" data-sortable="true">Phone Number</th>
    </tr>
  </thead>

<tbody>
<% @contacts.each do |contact| %>
<tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone_number %></td>
</tr>
<% end %>
</tbody>
</table>