<h1>Web Dev Services</h1>
<p>These are the web dev services we offer.</p>

<!--View is only supposed to show what you are doing in the controller. The below is bad practice

<%= Time.new %>

<% x = 7 %>
<% y = 9 %> -->
<br>
The sum of x and y is <%= @sum %>