<h1 onclick="changeColor()">Pages#index</h1>
<p id="first">first</p>
<p id="second">second</p>
<p id="third">third</p>
<p id="fourth">fourth</p>
<div id="information" onclick="showInfo()">Show API</div>
